baseline/
result_data/
weights/

data/Fivek_test_set.mat 
data/Fivek_train_set.hdf5 
data/Raw_SIDD_2500_cropped_256x256.mat 
data/test_CF_FISH.mat 
data/test_CF_MICE.mat 
data/test_DND.mat 
data/test_fivek_rawRGB_alpha_0.01_beta_0.0002.hdf5 
data/test_fivek_rawRGB_alpha_0.01_beta_0.02.hdf5 
data/test_fivek_rawRGB_alpha_0.05_beta_0.02.hdf5 
data/test_fivek_rawRGB_random_noise.hdf5 
data/test_SIDD.mat 
data/test_TP_MICE.mat 
data/train_fivek_rawRGB_25000x256x256_cropped_alpha_0.01_beta_0.0002.hdf5 
data/train_fivek_rawRGB_25000x256x256_cropped_alpha_0.05_beta_0.02.hdf5 
data/train_fivek_rawRGB_25000x256x256_cropped_random_noise.hdf5 
